bin/Release
bin/Debug/Coursework.exe
bin/Debug/Coursework.exe.config
bin/Debug/Coursework.pdb
bin/Debug/Employees.txt
bin/Debug/WorkTypes.txt
bin/Debug/.vs
bin/Debug/.vs/Coursework/v16/.suo
obj
Properties
App.config
Coursework.csproj
packages.config
